header
{
	background: #031C4C;
	height: 80px;
	border-bottom: 1px solid #031E52;
	background-color: rgb(10,51,130);
	color: white;
}

nav
{
	color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    right: 150px;
}

.Fb
{
	font-size: 38px;
	position: absolute;
	left: 180px;
	color: white;
	font-weight: bold;
}

.info
{
	color: white;
	text-decoration: none;
	position: relative;
}

.bouton
{
	background-color: rgb(10,51,130);
	color: white;
	height: 30px;
	border: 1px solid #031E52;
	border-radius: 1.5px;
	font-weight: bold;
}

.formulaire
{
	width: 35%;
	position: absolute;
	top: 16%;
	left: 56%;
}

h1
{
	color: #333;
	font-size: 30px;
	font-weight: 680px;
	margin-top: 10px;

}

p
{
	margin-top: -18px;
	color: rgb(29,33,41);
}

.inscrire
{
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
	padding: 4px 4px 4px 5px;
	font-size: 17px;
	font-weight: 380px;
	margin: 6px;
	margin-left: -4px;
}

.Date_naiss
{
	color: #3D3E3F;
	font-size: 19px;
}

select
{
	background-color: white;
	border: 1px solid #BDC7D8;
	font-size: 12px;
	font-weight: 250px;
	height: 30px;
	width: 65px;
	margin-left: 8px;
	margin: -1.5px;
}

.question
{
	color: white;
	font-size: 18px;
	text-decoration-color: #BDC7D8;
	display: inline-block;
	text-decoration: none;
	margin-left: 3px;
	border-radius: 7px;
	background: #37383A;
}

.conditions
{
	color: #666666;
	display: block;
	font-size: 12px;
	margin-bottom: 12px;
	width: 316px;
}

.conditions a
{
	text-decoration: none;
	color: #3329A9;
}

.sexe
{
    color: #3D3E3F;
	font-size: 19px;
 
}

.S
{
	color: #1D2129;
	font-size: 16px;
	padding-right: 10px;
	padding-left: 3px;
	font-weight: 20px;
	margin-top: 2px;
    justify-content: space-around;

}

#Envoyer
{
	width: 150px;
	height: 38px;
	background-color: #189412;
	border: 1px solid #0C4A09;
	color: black;
	font-size: 20px;
	text-align: center;
	font-weight: 690px;
	text-shadow: black 0px 1px 2px;
	border-radius: 6px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-top: -12px;

}

body{
	width: 100%;
	margin: auto;
}