p
{
    width: 250px;
    height: 110px;
    margin: auto;
    border: 1px solid black;
    text-align: justify;
    padding: 12px; 
    margin-bottom: 50px;
    overflow: auto;/*Si vous voulez que le texte ne dépasse pas des limites du paragraphe*/
}

/*word-wrap: Cette propriété permet de forcer la césure des très longs mots (généralement des adresses un peu longues).*/