@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff2') format('woff2'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


h2{
	text-shadow: 1px 1px 1px #0A1B18;

}


h1, p, h4{
	text-align: center;
}

body{
	background-color: #E7FEF9;/*#B6F2E5*/
	width: 1200px;
    margin: auto;
}

.image{
	border: 1px maroon solid;
	border-radius: 2px 2px 1px 1px;
	box-shadow: 1px 1px 1px black;
	float: right;
	margin-top: -90px;
	margin-right: -25px;
}

section
{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 4%;
}

#lisere, .corp
{
    display: inline-block;
    vertical-align: top;
}

#lisere
{   
    width: 10%;
    margin-right: 3%;
    height: 500px;
    background-image: url('lisere.jpg');
    border-radius: 10px;
}

.corp
{
    width: 85%;
}

@media all and (max-width: 1024px)
{
    section
    {
        display: block;
        width: auto;
    }

    #liseret
    {
        display: none;
    }

    #contenu
    {
        width: auto;
    }

}