p
{
    font-size: 14px;
    font-family: Verdara, "Arial Black", Arial, Impact, sans-serif; /* "font-family" indique la police*/
    font-style: italic;
    font-weight: bold; /*pour mettre le texte en gras*/
    text-decoration: underline;
    text-align: justify; /*Justifier le texte permet de faire en sorte qu'il prenne 
                          toute la largeur possible sans laisser d'espace blanc à la fin des lignes*/
}

h1
{
    font-size: 40px; /* "font-size " indique la taille du texte */
    color: red;
    text-decoration: overline; /*ligne au dessus*/
}

.barre
{
	text-decoration: line-through;
	text-align: center;
	clear: both;
}

.imageflottante
{
	float: right;
}

#imgfloat
{
	text-decoration: none;
}

body
{
	background-color: black;
	color: white;
	background-image: url('miniature.png');
	background-attachment: scroll; /* background-attachment  permet de « fixer » le fond*/
	background-repeat: no-repeat;
	background-position: 10px 120px;
	opacity: 0.4;
}


































































/* 

On peut également utilisé des valeurs relatives : 

xx-small  : minuscule ;

x-small  : très petit ;

small  : petit ;

medium  : moyen ;

large  : grand ;

x-large  : très grand ;

xx-large  : euh… gigantesque.

Ou bien indiquer la taille en " em "
*/
